[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "third_party/http-parser"]
	path = third_party/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/google/boringssl.git
